In [6]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

해외 도시 토픽 비율은 LDA를 통해 나온 각 토픽 비율

국내 도시는 검색 카테고리를 해외 토픽에 대응시킨 비율

In [7]:
overseas_topic = pd.read_csv("LDA해외비율.csv", encoding="cp949")
overseas_topic

,country,city,0,1,2,3,4,5
0,남아프리카공화국,요하네스버그,0.099022,0.099754,0.313179,0.128189,0.053696,0.306159
1,남아프리카공화국,케이프타운,0.154944,0.067494,0.328794,0.221184,0.051321,0.176264
2,네덜란드,로테르담,0.040427,0.179278,0.242250,0.154351,0.147905,0.235789
3,네덜란드,암스테르담,0.043662,0.102179,0.244954,0.127401,0.140370,0.341435
4,네덜란드,헤이그,0.063047,0.071375,0.184957,0.158338,0.095558,0.426724
...,...,...,...,...,...,...,...,...
130,호주,율라라,0.502015,0.037420,0.128391,0.172402,0.075690,0.084082
131,호주,캔버라,0.070856,0.065541,0.269818,0.255466,0.044511,0.293808
132,호주,케언즈,0.225715,0.097799,0.192507,0.260180,0.034170,0.189630
133,호주,퍼스,0.146781,0.115683,0.273998,0.267310,0.046639,0.149588
134,홍콩,홍콩,0.093065,0.188872,0.291003,0.107216,0.087959,0.231886

In [8]:
domestic_topic = pd.read_csv("국내_토픽_파이널.csv", encoding="cp949")
domestic_topic2 = pd.DataFrame(domestic_topic.drop(["광역",'기초'],axis=1))
domestic_topic2

      Topic 1   Topic 2   Topic 3   Topic 4   Topic 5   Topic 6
0    0.368148  0.068200  0.238114  0.185113  0.057028  0.083398
1    0.480106  0.005778  0.096913  0.254912  0.054152  0.108139
2    0.467818  0.039155  0.036044  0.397125  0.034756  0.025102
3    0.407161  0.014228  0.052881  0.473559  0.030353  0.021816
4    0.365123  0.131036  0.253183  0.197103  0.040496  0.013060
..        ...       ...       ...       ...       ...       ...
223  0.152580  0.051351  0.182924  0.467813  0.032801  0.112531
224  0.028449  0.022620  0.145851  0.700250  0.076742  0.026089
225  0.149225  0.028557  0.106390  0.225666  0.054849  0.435313
226  0.005036  0.129208  0.387358  0.211370  0.157567  0.109462
227  0.025288  0.018334  0.462937  0.398451  0.057847  0.037142

[228 rows x 6 columns]

In [9]:
js = pd.DataFrame(index=range(0,228), columns=range(0,135))

for j in range(len(overseas_topic)):
    city = np.array(overseas_topic.iloc[j,2:8]).flatten().tolist()
    for i in range(len(domestic_topic2)):
        js.iloc[i,j] = distance.jensenshannon(city, domestic_topic2.loc[i])

In [10]:
js.columns = overseas_topic['city'].values
js = pd.concat([domestic_topic.iloc[:,0:2], js], axis=1)
js

,광역,기초,요하네스버그,케이프타운,로테르담,암스테르담,헤이그,가오슝,타이난,타이중,...,골드코스트,멜버른,브리즈번,시드니,애들레이드,율라라,캔버라,케언즈,퍼스,홍콩
0,강원,강릉시,0.285988,0.188094,0.344498,0.358648,0.357206,0.275676,0.270126,0.300246,...,0.102681,0.235117,0.178968,0.210459,0.218299,0.128669,0.299897,0.162475,0.192601,0.291629
1,강원,고성군,0.398708,0.311518,0.454293,0.449036,0.41658,0.400308,0.410369,0.427317,...,0.204302,0.346546,0.296474,0.328686,0.336405,0.115576,0.379015,0.251081,0.317905,0.424787
2,강원,동해시,0.492476,0.395081,0.518044,0.536881,0.509006,0.433614,0.472437,0.470153,...,0.288216,0.408032,0.373414,0.405678,0.404332,0.221666,0.456832,0.316779,0.370277,0.499963
3,강원,삼척시,0.497579,0.39163,0.526648,0.541995,0.511837,0.45055,0.48148,0.478868,...,0.308173,0.410351,0.382057,0.419389,0.404463,0.254085,0.448493,0.325227,0.370833,0.513464
4,강원,속초시,0.361564,0.268355,0.393617,0.431752,0.442571,0.292668,0.309431,0.326246,...,0.207097,0.297593,0.259386,0.282842,0.28491,0.217275,0.375934,0.244799,0.246784,0.342176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,충북,제천시,0.302358,0.195541,0.332485,0.350013,0.327376,0.28023,0.283377,0.276485,...,0.214388,0.19992,0.203602,0.246136,0.191281,0.304779,0.222458,0.16519,0.163464,0.329949
224,충북,증평군,0.467106,0.381932,0.435354,0.463708,0.459414,0.431015,0.439715,0.412656,...,0.428107,0.362357,0.40485,0.435415,0.372819,0.472449,0.375709,0.386419,0.353495,0.47723
225,충북,진천군,0.228249,0.249499,0.300235,0.244475,0.157742,0.322244,0.301338,0.314412,...,0.249359,0.238742,0.220078,0.223518,0.237968,0.344817,0.19199,0.21653,0.265899,0.295142
226,충북,청주시,0.26761,0.261801,0.180157,0.23341,0.304997,0.273765,0.227063,0.218336,...,0.37283,0.22295,0.289897,0.286931,0.243362,0.467103,0.259422,0.337427,0.256398,0.234982
227,충북,충주시,0.361891,0.276961,0.367156,0.387754,0.410506,0.384937,0.338298,0.34103,...,0.393009,0.301189,0.341654,0.372014,0.291849,0.460624,0.300752,0.355728,0.28392,0.382722

국내 도시와 해외 도시의 유사도 행렬

In [11]:
js.to_csv("JS거리_해외국내도시.csv", encoding="cp949", index=False)